*{
    margin: 0;
    padding: 0;
}

.box{
    background-color: grey;
    border: 1px solid red;
    width: 270px;
    height: 250px;
    display: grid;
    justify-content: center;
    align-items: center;
    
}

.box h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.box p{
    text-align: center;
    padding-bottom: 20px;

}
